<footer>
    <nav>
        <ul id="links">
            <li><a href="mailto:stephanrandle.dev@gmail.com">Email</a></li>
            <li><a href="https://github.com/stephansama">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/stephan-randle-38a30319a/">LinkedIn</a></li>
        </ul>
    </nav>
</footer>