<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/header.ejs') %>
    <title>PokéDex | Main Page</title>
</head>
<body>
    <%- include('components/title.ejs') %>
    <div id="pokedex">
        <nav id="subtitle" class="links">
            <ul id="links">
                <li><a href="/usr/">Dashboard</a></li>
                <li><a href="/usr/login">Login</a></li>
                <li><a href="/usr/logout">Logout</a></li>
                <li><a href="/usr/register">Register</a></li>
                <li><a href="/poke/all">View All</a></li>
            </ul>
        </nav>
    </div>
    <%- include('components/footer.ejs') %>
</body>
</html>