<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/header.ejs') %>
</head>
<body>
    <%- include('components/title.ejs') %>
    <div id="pokedex">
        <nav id="subtitle">
            <ul id="links">
                <li><a href="/usr/login">LOGIN</a></li>
                <li><a href="/usr/register">REGISTER</a></li>
                <li><a href="/poke">VIEW ALL</a></li>
            </ul>
        </nav>
    </div>
    <%- include('components/footer.ejs') %>
</body>
</html>