<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/header.ejs') %>
    <title>PokéDex | Login</title>
    <link rel="stylesheet" href="static/css/fields.css">
</head>
<body>
    <%- include('../components/title.ejs') %>
    <div id="pokedex">
        <div id="subtitle">Login</div>
        <div id="input">
            <form action="/usr/login" method="post">
                <input type="text" name="name" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="SUBMIT" name="">
            </form>
        </div>
    </div>
    <%- include('../components/footer.ejs') %>
</body>
</html>