#input{
    padding: 1em;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

input[type="text"], input[type="password"], input[type="submit"]{
    font-family: var(--second-font);
    font-size: .5em;
    padding: 1em;
    outline: none;
    border:none;
}

input[type="submit"]{
    background-color: var(--main-color4);
    color: var(--main-color2);
    font-weight: bold;
    border: 2px solid var(--main-color2);
    cursor: pointer;
}

input[type="number"]{
    width: 98.2%;
    height: 3em;
    font-size: .5em;
    margin:0;
    padding:0;
    text-align: center;
}

#infotable {
    border-spacing: 0;
}

#infotable td:first-child{
    text-align: right;
}

#infotable td:last-child{
    padding:0;
}

#infotable td[colspan]{
    text-align:center;
}

#infotable td[colspan] > input{
    width:100%;
    transition: background .3s ease-in-out, color .3s ease-in-out, text-shadow .3s ease-in-out;
}

#infotable td[colspan] > input[type="submit"]:hover{
    background:var(--main-color4);
    color: var(--main-color4);
    text-shadow: var(--text-shadow);
}

#server{
    font-family: 'FiraCode', monospace;
    font-weight: bold;
    font-size:.4em;
}

#error{
    margin-top:40px;
    padding:10px;
    font-family: 'FiraCode', monospace;
    width:fit-content;
    align-self: center;
    column-span: all;
    border:5px solid var(--main-color4);
    background-color: white;
    color:var(--main-color1);
}