footer{
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 10px 0 0 0;
    /* padding-bottom: 15px; */
    position: relative;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    background-color: var(--main-color0);
    color: var(--main-color4);
    text-shadow: var(--text-shadow);
    letter-spacing:4px;
    box-shadow: 0 -10px 60px 1px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0 -10px 60px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0 -10px 60px 1px rgba(0,0,0,0.29);
}

footer > nav{
    padding-bottom:10px;
}