#pokedex{
    height:100%;
    padding:2rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

#pokemenu ul{
    margin: 0;
    padding: 0;
    min-width: 500px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    letter-spacing:3px;
}

#showimage{
    border: 1px solid black;
    margin: 0;
    padding:0;
    border-radius: 15%;
    overflow: hidden;
    background-color:white;
    border: 10px solid var(--main-color4);
    box-shadow: 0 0 25px var(--main-color3);
    object-fit: center;
}

#showimage > img{
    height: 100%;
    width: 100%;
    transition: transform .3s ease-in-out;
}

#showimage:hover > img{
    transform: scale(1.2);
}